{{define "sidebar"}}
<!-- Sidebar -->
<aside class="sidebar">
    <div class="logo">
        <img src="/static/img/updog_small.png" alt="Updog Logo">
        <span>Updog</span>
    </div>
    <nav class="nav-menu">
        <a href="/dashboard" class='nav-item {{if eq .Slug "dashboard"}}active{{end}}'>
            <i class="fa-solid fa-house"></i>
            <span>Dashboard</span>
        </a>
        <a href="/realtime" class='nav-item {{if eq .Slug "realtime"}}active{{end}}'>
            <i class="fa-solid fa-dragon"></i>
            <span>Real-time</span>
        </a>
        <a href="/domains" class='nav-item {{if eq .Slug "domains"}}active{{end}}'>
            <i class="fa-solid fa-globe"></i>
            <span>Domains</span>
        </a>
        <a href="#" class="nav-item">
            <i class="fa-solid fa-users"></i>
            <span>Visitors</span>
        </a>
        <a href="#" class="nav-item">
            <i class="fa-solid fa-arrow-trend-up"></i>
            <span>Behavior</span>
        </a>
        <a href="/settings" class='nav-item {{if eq .Slug "settings"}}active{{end}}'>
            <i class="fa-solid fa-gear"></i>
            <span>Settings</span>
        </a>
    </nav>
    <div class="user-profile">
        <div class="avatar">{{ .User.Initials }}</div>
        <div class="user-info">
            <span class="name">{{ .User.Name }}</span>
            <span class="role">Admin</span>
        </div>
    </div>
</aside>
{{end}}
