{{define "sidebar"}}
<!-- Sidebar -->
<aside class="sidebar">
    <div class="logo">
        <i class="fa-solid fa-chart-simple"></i>
        <span>Updog</span>
    </div>
    <nav class="nav-menu">
        <a href="/analytics" class="nav-item active">
            <i class="fa-solid fa-house"></i>
            <span>Dashboard</span>
        </a>
        <a href="#" class="nav-item">
            <i class="fa-solid fa-globe"></i>
            <span>Real-time</span>
        </a>
        <a href="/domains" class="nav-item">
            <i class="fa-solid fa-globe"></i>
        </a>
        <a href="#" class="nav-item">
            <i class="fa-solid fa-users"></i>
            <span>Visitors</span>
        </a>
        <a href="#" class="nav-item">
            <i class="fa-solid fa-arrow-trend-up"></i>
            <span>Behavior</span>
        </a>
        <a href="#" class="nav-item">
            <i class="fa-solid fa-gear"></i>
            <span>Settings</span>
        </a>
    </nav>
    <div class="user-profile">
        <div class="avatar">ZB</div>
        <div class="user-info">
            <span class="name">Zack B.</span>
            <span class="role">Admin</span>
        </div>
    </div>
</aside>
{{end}}
